{% extends 'master_back.html' %}

{% load static %}

{% block headblock %}

    <link rel="stylesheet" href="{% static 'back/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">

    <!-- image viewer -->
    <script src="{% static 'back/assets/js/EZView.js' %}"></script>
    <script src="{% static 'back/assets/js/draggable.js' %}"></script>

    <!-- Material Design Bootstrap -->
    <link href="{% static 'back/vendors/mdb/mdb.min.css' %}" rel="stylesheet">

    <!-- smart photo -->
    <link href="{% static 'back/vendors/smart-photo/smartphoto.min.css' %}" rel="stylesheet">

    <!-- bootstrap for tags -->
    <style>
        .bootstrap-tagsinput {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            display: block;
            padding: 4px 6px;
            color: #555;
            vertical-align: middle;
            border-radius: 4px;
            max-width: 100%;
            line-height: 22px;
            cursor: text;
        }
        .bootstrap-tagsinput input {
            border: none;
            box-shadow: none;
            outline: none;
            background-color: transparent;
            padding: 0 6px;
            margin: 0;
            width: auto;
            max-width: inherit;
        }
        .bootstrap-tagsinput .tag {
            background: gray;
            border: 1px solid;
            padding: 0 6px;
            margin-right: 2px;
            color: white;
            border-radius: 4px;
            }
    </style>

    <!-- style for revert -->
    <style>
        .circle_success {
            display: block;
            background: black;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            margin-left: auto !important;
            margin-right: auto !important;
            background: radial-gradient(circle at 100px 100px, #5cabff, #00674C);
        }
        .circle_failure {
            display: block;
            background: black;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            margin-left: auto !important;
            margin-right: auto !important;
            background: radial-gradient(circle at 100px 100px, #5cabff,#950000);
        }
    </style>

{% endblock %}

{% block page_content %}

    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 30px;">
                            <strong>Success!</strong> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- Looper Component -->
                <div class="card" id="looper">
                    <div class="card-header">
                        <strong class="card-title">Leads Generated by Email</strong>
                    </div>
                    <div class="card-body">

                        <table id="bootstrap-data-table-export" class="dataa-table table table-striped table-bordered">

                            <thead>
                                <tr>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Time</th>
                                    <th class="text-center">Revert Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for lead in lead %}
                                <tr>
                                    <td class="text-center">
                                        {{lead.name}}
                                    </td>

                                    <td class="text-center">
                                        {{lead.time}}
                                    </td>

                                    <td class="text-center" style="vertical-align: middle;">
                                        {% if lead.revert == True %}
                                        <figure class="circle_success"></figure>
                                        {% elif lead.revert == False %}
                                        <figure class="circle_failure"></figure>
                                        {% endif %}
                                    </td>

                                    <td class="text-center">
                                        <a href="{% url 'lead_view' lead.pk %}"><button type="button" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> View</button></a>
                                        <a href="{% url 'lead_delete' lead.pk %}"><button type="button" class="btn btn-danger btn-sm">Discard <i class="fa fa-times"></i></button></a>
                                        <!-- <a href="#"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-paperclip"></i> Add Fullsheet</button></a> -->
                                        <a href="{% url 'lead_revert' lead.pk %}"><button type="button" class="btn btn-warning btn-sm">Revert  <i class="fa fa-external-link"></i></button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                        <hr>
                        <br><br><br>

                        {% if contact.count == 0 %}    
                        <form action="{% url 'contact_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}

                            <h3>[ Add Contact Info ] </h3> <br><br>
                            
                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="url" class=" form-control-label">Maps URL : </label>
                                </div>
                                <div class="col col-md-7">
                                    <input type="text" id="url" name="url" placeholder="Paste Google Maps Url Here" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="meta_title" class=" form-control-label">Meta Title : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="meta_title" name="meta_title" placeholder="Add Meta Title" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="meta_description" class=" form-control-label">Meta Description : </label>
                                </div>
                                <div class="col col-md-4">
                                    <textarea id="meta_description" name="meta_description" rows="3" placeholder="Add Meta Description" class="form-control"></textarea>
                                </div>
                            </div>

                            <br>
                            <p>All * marked fields implies that it is required and can not be left empty</p>

                            <br>

                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                                </div>
                            </div>

                        </form>
                        {% else %}
                        {% for contact in contact %}
                        <form action="{% url 'contact_edit' contact.pk %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}

                            <h3>[ Edit Contact Info ] </h3> <br><br>
                            
                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="url" class=" form-control-label">Maps URL : </label>
                                </div>
                                <div class="col col-md-7">
                                    <input type="text" id="url" name="url" placeholder="Paste Google Maps Url Here" class="form-control" value="{{contact.url}}">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="meta_title" class=" form-control-label">Meta Title : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="meta_title" name="meta_title" placeholder="Add Meta Title" class="form-control" value="{{contact.meta_title}}">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="meta_description" class=" form-control-label">Meta Description : </label>
                                </div>
                                <div class="col col-md-4">
                                    <textarea id="meta_description" name="meta_description" rows="3" placeholder="Add Meta Description" class="form-control">{{contact.meta_description}}</textarea>
                                </div>
                            </div>

                            <br>
                            <p>All * marked fields implies that it is required and can not be left empty</p>

                            <br>

                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> &nbsp; Update</button>
                                </div>
                            </div>

                        </form>
                        {% endfor %}
                        {% endif %}

                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}

{% block footerblock %}

<script src="{% static 'back/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>

<script src="{% static 'back/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'back/assets/js/init-scripts/data-table/datatables-init.js' %}"></script>

<!-- for tags -->
<script src="{% static 'back/assets/js/bootstrap-tagsinput.js' %}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'back/vendors/mdb/mdb.min.js' %}"></script>

<!-- smart photo -->
<script src="{% static 'back/vendors/smart-photo/smartphoto.js' %}"></script>

<!-- <script>
    $('.gallery1').EZView();
    $('.gallery2').EZView();
</script> -->

<script>
	window.addEventListener('load',function(){
		new SmartPhoto(".js-img-viewer");
        new SmartPhoto(".js-img-viewer-fit");
	});
</script>

{% endblock %}
