{% extends 'master.html' %}

{% load static %}



    {% block main-block %}

        <!-- banner-slider -->
        <section class="rev-slider">
          <div id="rev_slider_274_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="rang decor-slider-8" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
          <!-- START REVOLUTION SLIDER 5.4.6.3 auto mode -->
            <div id="rev_slider_274_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3">
              <ul>  <!-- SLIDE  -->
                  <li data-index="rs-768" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                  <!-- MAIN IMAGE -->
                      <img src="{% static 'front/images/banner/Event-compressed.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->
              
                  <!-- BACKGROUND VIDEO LAYER -->

                </li>
              </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
        </div>      
        </section>


        <!-- bridge slider-TO-content -->
        <section class="business-13-about page-section-pb box-shadow">
          <div class="container" >
            <div class="row justify-content-center text-center">
              <div class="col-md-12">
                <div class="business-13-about-content"  style="background-color: #E5E7E6;"> 
                <div class="section-title text-center">
                  <h2 class="title-effect" style="color: #02B28C;">Mumbai Event</h2>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </section>


        <!-- gallery -->
        <section class="business-13-about page-section-pb box-shadow">
          <div class="row mt-70">

            <div class="col-lg-12 col-md-12">
              <div class="tab round">
                  <!-- <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: flex; justify-content: center; margin-bottom: 50px;">

                    <li class="nav-item">
                      <a class="nav-link active show" id="home-07-tab" data-toggle="tab" href="#home-07" role="tab" aria-controls="home-07" aria-selected="true"> <i class="fa fa-home"></i> Home</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" id="profile-07-tab" data-toggle="tab" href="#profile-07" role="tab" aria-controls="profile-07" aria-selected="false"><i class="fa fa-user"></i> Profile </a>
                    </li>

                  </ul> -->

                  <div class="tab-content" id="myTabContent" > 

                    <div class="tab-pane fade active show" id="home-07" role="tabpanel" aria-labelledby="home-07-tab" style="margin-left: 15px;">
                      <div class="row popup-gallery">
                        {% if lc %}
                        {% for lc in lc %}
                        <div class="grid-item col-12 col-md-3" style="margin-top: 20px;">
                            <div class="portfolio-item" style="height: 270px;">
                                <img src="{% if lc.main_image %}{{lc.main_image.url}}{% endif %}" alt="" style="height: 270px;">
                                <a class="popup portfolio-img" href="{% if lc.main_image %}{{lc.main_image.url}}{% endif %}"><i class="fa fa-arrows-alt"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                      </div>
                    </div>

                  </div>
              </div>
            </div>

          </div>
        </section>


    {% endblock %}
    
