{% extends 'master_back.html' %}

{% load static %}

{% block headblock %}

    <link rel="stylesheet" href="{% static 'back/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">

    <!-- image viewer -->
    <script src="{% static 'back/assets/js/EZView.js' %}"></script>
    <script src="{% static 'back/assets/js/draggable.js' %}"></script>

    <!-- Material Design Bootstrap -->
    <link href="{% static 'back/vendors/mdb/mdb.min.css' %}" rel="stylesheet">


    <!-- smart photo -->
    <link href="{% static 'back/vendors/smart-photo/smartphoto.min.css' %}" rel="stylesheet">

    <!-- bootstrap for tags -->
    <style>
        .bootstrap-tagsinput {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            display: block;
            padding: 4px 6px;
            color: #555;
            vertical-align: middle;
            border-radius: 4px;
            max-width: 100%;
            line-height: 22px;
            cursor: text;
        }
        .bootstrap-tagsinput input {
            border: none;
            box-shadow: none;
            outline: none;
            background-color: transparent;
            padding: 0 6px;
            margin: 0;
            width: auto;
            max-width: inherit;
        }
        .bootstrap-tagsinput .tag {
            background: gray;
            border: 1px solid;
            padding: 0 6px;
            margin-right: 2px;
            color: white;
            border-radius: 4px;
        }
        #toast-container {
            position: fixed;
            z-index: 999999;
        }
        .md-toast-top-right {
            top: 12px;
            right: 12px;
        }
        #toast-container>div {
            position: relative;
            width: 18.75rem;
            padding: 15px 15px 15px 50px;
            margin: 0 0 6px;
            overflow: hidden;
            filter: alpha(opacity=95);
            background-repeat: no-repeat;
            background-position: 15px center;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            opacity: .95;
        }
        #toast-container * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .md-toast-success {
            background-color: #00c851;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;
        }
        button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
            cursor: pointer;
        }
        button.md-toast-close-button {
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
    

{% endblock %}

{% block page_content %}

    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                <!-- Looper -->
                <div class="card" id="looper">
                    <div class="card-header">
                        <strong class="card-title">Looper Section List</strong>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %} 
                                <div class="alert alert-info alert-dismissible fade show" role="alert" style="margin-top: 30px;">
                                    <strong>Info!</strong> New looper section has been added to list.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 30px;">
                                    <strong>Success!</strong> {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-body">

                        <!-- {% if msg %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 5%;">
                            {{msg}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %} -->

                        <table id="bootstrap-data-table-export" class="dataa-table table table-striped table-bordered">

                            <thead>
                                <tr>
                                    <th class="text-center">Index</th>
                                    <th class="text-center">Page Name</th>
                                    <th class="text-center">Looper Section</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% if looper_section %}
                                {% for looper_section in looper_section %}
                                <tr>
                                    <td class="text-center">
                                        {{looper_section.index}}
                                    </td>

                                    <td class="text-center">
                                        {{looper_section.page_name}}
                                    </td>

                                    <td class="text-center">
                                        {{looper_section.name}}
                                    </td>

                                    <td class="text-center">
                                        <a href="{% url 'looper_section_edit' looper_section.pk %}"><button type="button" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Edit</button></a>
                                        <a href="#"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#looper_section_{{looper_section.pk}}">Del<i class="fa fa-times"></i></button></a>
                                        <a href="{% url 'looper_component' looper_section.name %}"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-bars"></i> &nbsp;Page Component</button></a>
                                        <!-- <a href="#"><button type="button" class="btn btn-primary"><i class="fa fa-paperclip"></i> Add Fullsheet</button></a> -->
                                        <!-- <a href="#" target="_blank"><button type="button" class="btn btn-warning">View  <i class="fa fa-eye"></i></button></a> -->

                                         <!-- Delete Confirm -->
                                         <div class="modal fade bottom" id="looper_section_{{looper_section.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-frame modal-bottom" role="document">
                                              <div class="modal-content">
                                                <div class="modal-body">
                                                  <div class="row d-flex justify-content-center align-items-center">
  
                                                    <p class="pt-3 pr-2">
                                                      This action will delete the Looper Section <b>"{{looper_section.name}}"</b> of {{looper_section.page_name}} page completely and it is
                                                      irreparable by nature. Once it is gone it is gone !
                                                    </p>
  
                                                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Close</button>
                                                    <a href="{% url 'looper_section_delete' looper_section.pk %}"><button type="button" class="btn btn-dark"><b>Delete</b></button></a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                    </td>

                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>

                        </table>

                        <hr>
                        <br><br><br>
                                                
                        <form action="{% url 'looper_section_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}

                            <h3>[ Add Looper Section ] </h3> <br><br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="index" class=" form-control-label">Looper Index : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="index" name="index" placeholder="Add Index" class="form-control" required>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="page" class=" form-control-label">For Page : </label>
                                </div>
                                <div class="col col-md-4">
                                    <select name="page" id="page" class="form-control" required>
                                        {% for page in page %}
                                        <option value="{{page.page_name}}">{{page.page_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="name" class=" form-control-label">Section Name : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="name" name="name" placeholder="Add Name" class="form-control" required>
                                </div>
                            </div>

                            <br>

                            <div class="row form-group">
                                <div class="col col-md-1"></div>
                                <div class="col col-md-2">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                
            </div>


        </div>
    </div>

{% endblock %}

{% block footerblock %}

<script src="{% static 'back/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>

<script src="{% static 'back/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'back/assets/js/init-scripts/data-table/datatables-init.js' %}"></script>

<!-- for tags -->
<script src="{% static 'back/assets/js/bootstrap-tagsinput.js' %}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'back/vendors/mdb/mdb.min.js' %}"></script>

<!-- smart photo -->
<script src="{% static 'back/vendors/smart-photo/smartphoto.js' %}"></script>

<!-- <script>
    $('.gallery1').EZView();
    $('.gallery2').EZView();
</script> -->

<script>
	window.addEventListener('load',function(){
		new SmartPhoto(".js-img-viewer");
        new SmartPhoto(".js-img-viewer-fit");
	});
</script>

{% endblock %}