{% extends 'master_back.html' %}

{% load static %}

{% block headblock %}

    <link rel="stylesheet" href="{% static 'back/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">

    <!-- image viewer -->
    <script src="{% static 'back/assets/js/EZView.js' %}"></script>
    <script src="{% static 'back/assets/js/draggable.js' %}"></script>

    <!-- Material Design Bootstrap -->
    <link href="{% static 'back/vendors/mdb/mdb.min.css' %}" rel="stylesheet">

    <!-- smart photo -->
    <link href="{% static 'back/vendors/smart-photo/smartphoto.min.css' %}" rel="stylesheet">

    <!-- bootstrap for tags -->
    <style>
        .bootstrap-tagsinput {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            display: block;
            padding: 4px 6px;
            color: #555;
            vertical-align: middle;
            border-radius: 4px;
            max-width: 100%;
            line-height: 22px;
            cursor: text;
        }
        .bootstrap-tagsinput input {
            border: none;
            box-shadow: none;
            outline: none;
            background-color: transparent;
            padding: 0 6px;
            margin: 0;
            width: auto;
            max-width: inherit;
        }
        .bootstrap-tagsinput .tag {
            background: gray;
            border: 1px solid;
            padding: 0 6px;
            margin-right: 2px;
            color: white;
            border-radius: 4px;
            }
    </style>


{% endblock %}

{% block page_content %}

    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                <!-- <div class="text-center" style="margin-bottom: 20px;">
                    <a href="#looper"><button class="btn peach-gradient">Loopers</button></a>
                    <a href="#informative"><button class="btn aqua-gradient">Informatives</button></a>
                </div> -->

                <!-- Looper Component -->
                <div class="card" id="looper">
                    <div class="card-header">
                        <strong class="card-title">VSG Area List</strong>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 30px;">
                                    <strong>Success!</strong> {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-body">

                        <table id="bootstrap-data-table-export" class="dataa-table table table-striped table-bordered">

                            <thead>
                                <tr>
                                    <th class="text-center">Index</th>
                                    <th class="text-center">Application Area</th>
                                    <th class="text-center">Main Image</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% if vsg %}
                                {% for vsg in vsg %}
                                <tr>
                                    <td class="text-center">
                                        {{vsg.index}}
                                    </td>

                                    <td class="text-center">
                                        {{vsg.area}}
                                    </td>

                                    <td class="text-center">
                                        <a href="{% if vsg.main_image %}{{vsg.main_image.url}}{% endif %}" class="js-img-viewer-fit" data-caption="Rang Decor" data-id="lion">
                                            <img src="{% if vsg.main_image %}{{vsg.main_image.url}}{% endif %}" alt="" style="height: 50px;">
                                        </a>
                                    </td>

                                    <td class="text-center">
                                        <a href="{% url 'vsg_back_edit' vsg.pk %}"><button type="button" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Edit</button></a>
                                        <a href="#"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#vsg_{{vsg.pk}}">Del<i class="fa fa-times"></i></button></a>
                                        <!-- <a href="#"><button type="button" class="btn btn-primary"><i class="fa fa-paperclip"></i> Add Fullsheet</button></a> -->
                                        <!-- <a href="#" target="_blank"><button type="button" class="btn btn-warning">View  <i class="fa fa-eye"></i></button></a> -->

                                        <!-- Delete Confirm -->
                                        <div class="modal fade bottom" id="vsg_{{vsg.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-frame modal-bottom" role="document">
                                              <div class="modal-content">
                                                <div class="modal-body">
                                                  <div class="row d-flex justify-content-center align-items-center">
  
                                                    <p class="pt-3 pr-2">
                                                      This action will delete the Informative Section <b>"{{vsg.area}}"</b> completely and it is
                                                      irreparable by nature. Once it is gone it is gone !
                                                    </p>
  
                                                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Close</button>
                                                    <a href="{% url 'vsg_back_delete' vsg.pk %}"><button type="button" class="btn btn-dark"><b>Delete</b></button></a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                    </td>

                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>

                        </table>

                        <hr>
                        <br><br><br>

                        <form action="{% url 'vsg_back' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}

                            <h3>[ Add VSG Area ] </h3> <br><br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="index" class=" form-control-label">Index * : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="index" name="index" placeholder="Add Index" class="form-control" required>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="area" class=" form-control-label">Area Name * : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="area" name="area" placeholder="Add Area Name" class="form-control" required>
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="area_id" class=" form-control-label">Area Name ID * : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="area_id" name="area_id" placeholder="Add Area Name ID" class="form-control" required>
                                    <p>** This should be unique, small case, no spaces, connected by hyphen or underscore **</p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="detail" class=" form-control-label">Area Detail : </label>
                                </div>
                                <div class="col col-md-4">
                                    <textarea name="detail" id="detail" cols="30" rows="5"  class="form-control" placeholder="Add Detail"></textarea>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="main_image" class=" form-control-label">Main Image * : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="file" id="main_image" name="main_image" class="form-control-file" required>
                                </div>
                            </div>

                            <br>
                            <br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="is_show" class=" form-control-label">Show in Menu : </label>
                                </div>
                                <div class="col col-md-1">
                                    <input type="checkbox" class="form-control-file" id="is_show" name="is_show" value="yes">
                                </div>
                                [* Select if you want this Area to be included in Main Menu (only one can be listed) *]
                            </div>

                            <br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="meta_title" class=" form-control-label">Meta Title : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="meta_title" name="meta_title" placeholder="Meta Title" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="meta_description" class=" form-control-label">Area Meta Description : </label>
                                </div>
                                <div class="col col-md-4">
                                    <textarea name="meta_description" id="meta_description" cols="30" rows="5"  class="form-control" placeholder="Add Meta Description"></textarea>
                                </div>
                            </div>

                            <br>
                            <p>All * marked fields implies that it is required and can not be left empty.</p>
                            <br>

                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}

{% block footerblock %}

<script src="{% static 'back/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>

<script src="{% static 'back/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'back/assets/js/init-scripts/data-table/datatables-init.js' %}"></script>

<!-- for tags -->
<script src="{% static 'back/assets/js/bootstrap-tagsinput.js' %}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'back/vendors/mdb/mdb.min.js' %}"></script>

<!-- smart photo -->
<script src="{% static 'back/vendors/smart-photo/smartphoto.js' %}"></script>

<!-- <script>
    $('.gallery1').EZView();
    $('.gallery2').EZView();
</script> -->

<script>
	window.addEventListener('load',function(){
		new SmartPhoto(".js-img-viewer");
        new SmartPhoto(".js-img-viewer-fit");
	});
</script>

{% endblock %}
