{% extends 'master_back.html' %}

{% load static %}

{% block headblock %}

<link rel="stylesheet" href="{% static 'back/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'back/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">

<!-- image viewer -->
<script src="{% static 'back/assets/js/EZView.js' %}"></script>
<script src="{% static 'back/assets/js/draggable.js' %}"></script>

<!-- Material Design Bootstrap -->
<link href="{% static 'back/vendors/mdb/mdb.min.css' %}" rel="stylesheet">

<!-- smart photo -->
<link href="{% static 'back/vendors/smart-photo/smartphoto.min.css' %}" rel="stylesheet">

<!-- bootstrap for tags -->
<style>
    .bootstrap-tagsinput {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        display: block;
        padding: 4px 6px;
        color: #555;
        vertical-align: middle;
        border-radius: 4px;
        max-width: 100%;
        line-height: 22px;
        cursor: text;
    }
    .bootstrap-tagsinput input {
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding: 0 6px;
        margin: 0;
        width: auto;
        max-width: inherit;
    }
    .bootstrap-tagsinput .tag {
        background: gray;
        border: 1px solid;
        padding: 0 6px;
        margin-right: 2px;
        color: white;
        border-radius: 4px;
        }
</style>

{% endblock %}

{% block page_content %}

    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">


                <!-- Catalogue Component -->
                <div class="card" id="looper">
                    <div class="card-header">
                        <strong class="card-title">Catalogues</strong>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 30px;">
                                    <strong>Success!</strong> {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-body">

                        <table id="bootstrap-data-table-export" class="dataa-table table table-striped table-bordered">

                            <thead>
                                <tr>
                                    <th class="text-center">Index</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Page Number [Front/Back]</th>
                                    <th class="text-center">Image</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% if catalogue %}
                                {% for catalogue in catalogue %}
                                <tr>
                                    <td class="text-center">
                                        {{catalogue.index}}
                                    </td>

                                    <td class="text-center">
                                        {{catalogue.name}}
                                    </td>

                                    <td class="text-center">
                                        {{catalogue.page_first}} || {{catalogue.page_second}}
                                    </td>

                                    <td class="text-center">
                                        <a href="{% if catalogue.main_image_1 %}{{catalogue.main_image_1.url}}{% endif %}" class="js-img-viewer-fit" data-caption="Rang Decor" data-id="lion">
                                            <img src="{% if catalogue.main_image_1 %}{{catalogue.main_image_1.url}}{% endif %}" alt="Front Page" style="height: 50px;">
                                        </a>

                                        ||

                                        <a href="{% if catalogue.main_image_2 %}{{catalogue.main_image_2.url}}{% endif %}" class="js-img-viewer-fit" data-caption="Rang Decor" data-id="lion">
                                            <img src="{% if catalogue.main_image_2 %}{{catalogue.main_image_2.url}}{% endif %}" alt="Last Page" style="height: 50px;">
                                        </a>
                                    </td>

                                    <td class="text-center">
                                        <!-- <a href="{% url 'catalogue_back_edit' catalogue.pk %}"><button type="button" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Edit</button></a>
                                        <a href="#" style="pointer-events: none; cursor: default;"><button type="button" class="btn btn-danger btn-sm" disabled>Del <i class="fa fa-times"></i></button></a> -->
                                        <!-- <a href="#"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-paperclip"></i> Add Fullsheet</button></a> -->
                                        <!-- <a href="{% url 'catalogue_back_page' catalogue.pk %}"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-bars"></i> &nbsp;Manage Pages</button></a> -->
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>

                        </table>

                        <hr>
                        <br><br><br>
 
                        <!-- <form action="{% url 'catalogue_back' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}

                            <h3>[ Add New Catalogue ] </h3> <br><br>
                            
                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="index" class=" form-control-label">Index * : </label>
                                </div>
                                <div class="col col-md-3">
                                    <input type="text" id="index" name="index" placeholder="Index" class="form-control" required>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="name" class=" form-control-label">Catalogue Name * : </label>
                                </div>
                                <div class="col col-md-5">
                                    <input type="text" id="name" name="name" placeholder="Add Catalogue Name" class="form-control" required>
                                    <br>
                                </div>
                            </div>

                            <br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="name_id" class=" form-control-label">Catalogue Name ( Unique ) * : </label>
                                </div>
                                <div class="col col-md-5">
                                    <input type="text" id="name_id" name="name_id" placeholder="Add Catalogue Name (should be unique)" class="form-control" required>
                                    <br>
                                    <p>** Small case without any spaces, if multiple word then consider using an Underscore/Hyphen (should be unique) ** </p>
                                </div>
                            </div>

                            <br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="page_first" class=" form-control-label">Front Page Number * : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="page_first" name="page_first" placeholder="Add First Page Number" class="form-control" required>
                                </div>
                            </div>

                            <br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="main_image_1" class=" form-control-label">Add Front Image * : </label>
                                </div>
                                <div class="col col-md-3">
                                    <input type="file" id="main_image_1" name="main_image_1" class="form-control-file" required>
                                </div>
                            </div>

                            <br>                            
                            
                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="page_second" class=" form-control-label">Front Page Number * : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="page_second" name="page_second" placeholder="Add First Page Number" class="form-control" required>
                                </div>
                            </div>

                            <br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="main_image_2" class=" form-control-label">Add Back Image * : </label>
                                </div>
                                <div class="col col-md-3">
                                    <input type="file" id="main_image_2" name="main_image_2" class="form-control-file" required>
                                </div>
                            </div>

                            <br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="page_height" class=" form-control-label">Page Height * : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="page_height" name="page_height" placeholder="Add Page Height" class="form-control" required>
                                    <br>
                                    <p>** Only Numerical, no special characters or alphabetical. ** </p>
                                </div>
                            </div>

                            <br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="page_width" class=" form-control-label">Page Width * : </label>
                                </div>
                                <div class="col col-md-4">
                                    <input type="text" id="page_width" name="page_width" placeholder="Add Page Width" class="form-control" required>
                                    <br>
                                    <p>** Only Numerical, no special characters or alphabetical. ** </p>
                                </div>
                            </div>

                            <br>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="meta_title" class=" form-control-label">Meta Title : </label>
                                </div>
                                <div class="col col-md-5">
                                    <input type="text" id="meta_title" name="meta_title" placeholder="Add Meta Title" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-2">
                                    <label for="meta_description" class=" form-control-label">Meta Description : </label>
                                </div> 
                                <div class="col col-md-5">
                                    <textarea id="meta_description" name="meta_description" rows="3" placeholder="Add Meta Description" class="form-control"></textarea>
                                </div>
                            </div>

                            <br>
                            <p>All * marked fields implies that it is required and can not be left empty</p>

                            <br>

                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                                </div>
                            </div>

                        </form> -->

                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}

{% block footerblock %}

<script src="{% static 'back/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>

<script src="{% static 'back/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'back/vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'back/assets/js/init-scripts/data-table/datatables-init.js' %}"></script>

<!-- for tags -->
<script src="{% static 'back/assets/js/bootstrap-tagsinput.js' %}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'back/vendors/mdb/mdb.min.js' %}"></script>

<!-- smart photo -->
<script src="{% static 'back/vendors/smart-photo/smartphoto.js' %}"></script>

<!-- <script>
    $('.gallery1').EZView();
    $('.gallery2').EZView();
</script> -->

<script>
	window.addEventListener('load',function(){
		new SmartPhoto(".js-img-viewer");
        new SmartPhoto(".js-img-viewer-fit");
	});
</script>

{% endblock %}
